.card{
    @include flex(column, center, space-around);
    position: relative;
    // gap: 1.rem;
    
    height: 20rem;
    width: 35rem;
    padding: 1.5rem 2rem;

    text-align: center;
    background: $card-bg;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

    .advice-number{
        @include flex();
        height: 10%;
        width: 100%;
        color: $secondary-color;
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .advice{
        @include center();
        height: 50%;
        color: $primary-color;
    }
    .divider{
        @include center();
        height: 30%;
    }
    .dice-btn{
        cursor: pointer;
        position: absolute;
        bottom: -25px;
        
        display: grid;
        place-items: center;
        margin-top: 2rem;
        width: 50px;
        height: 50px;

        border: none;
        border-radius: 50%;
        background-color: $secondary-color;

        & img{
            width: 20px;
            height: 20px;
        }
    }
}
