@import 'config', 'card';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

h4{
    font-size: 28px;
    font-weight: 800;
}

body{
    display: grid;
    place-items: center;
    
    min-height: 100vh;
    overflow: hidden;

    font-family: 'Manrope';
    background: $body-bg;
}

footer{
    color: $primary-color;
    margin-bottom: 1rem;
    align-self: flex-end;

    & a {
        color: $secondary-color;
        text-decoration: none;
    }
}
